/*
 * API REST do Portal da Transparência do Governo Federal
 * API de serviços do Portal da Transparência do Governo Federal
 *
 * OpenAPI spec version: 1.0
 * Contact: listaapitransparencia@cgu.gov.br
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package com.harpia.stive.service.client.api;

import com.google.gson.reflect.TypeToken;
import com.harpia.stive.domain.model.CodigoDescricaoDTO;
import com.harpia.stive.service.client.ApiCallback;
import com.harpia.stive.service.client.ApiClient;
import com.harpia.stive.service.client.ApiException;
import com.harpia.stive.service.client.ApiResponse;
import com.harpia.stive.service.client.Configuration;
import com.harpia.stive.service.client.Pair;
import com.harpia.stive.service.client.ProgressRequestBody;
import com.harpia.stive.service.client.ProgressResponseBody;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RgosApi {
    private ApiClient apiClient;

    public RgosApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RgosApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for orgaosSiafiUsingGET
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAFI) (optional)
     * @param descricao Descrição do Órgão (SIAFI) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call orgaosSiafiUsingGETCall(String chaveApiDados, Integer pagina, String codigo, String descricao, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api-de-dados/orgaos-siafi";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (codigo != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("codigo", codigo));
        if (descricao != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("descricao", descricao));
        if (pagina != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pagina", pagina));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (chaveApiDados != null)
        localVarHeaderParams.put("chave-api-dados", apiClient.parameterToString(chaveApiDados));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call orgaosSiafiUsingGETValidateBeforeCall(String chaveApiDados, Integer pagina, String codigo, String descricao, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'chaveApiDados' is set
        if (chaveApiDados == null) {
            throw new ApiException("Missing the required parameter 'chaveApiDados' when calling orgaosSiafiUsingGET(Async)");
        }
        
        // verify the required parameter 'pagina' is set
        if (pagina == null) {
            throw new ApiException("Missing the required parameter 'pagina' when calling orgaosSiafiUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = orgaosSiafiUsingGETCall(chaveApiDados, pagina, codigo, descricao, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Consulta de órgãos cadastrados no Sistema Integrado de Administração Financeira do Governo Federal (SIAFI)
     * Filtros mínimos:  Página (padrão &#x3D; 1); 
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAFI) (optional)
     * @param descricao Descrição do Órgão (SIAFI) (optional)
     * @return List&lt;CodigoDescricaoDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CodigoDescricaoDTO> orgaosSiafiUsingGET(String chaveApiDados, Integer pagina, String codigo, String descricao) throws ApiException {
        ApiResponse<List<CodigoDescricaoDTO>> resp = orgaosSiafiUsingGETWithHttpInfo(chaveApiDados, pagina, codigo, descricao);
        return resp.getData();
    }

    /**
     * Consulta de órgãos cadastrados no Sistema Integrado de Administração Financeira do Governo Federal (SIAFI)
     * Filtros mínimos:  Página (padrão &#x3D; 1); 
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAFI) (optional)
     * @param descricao Descrição do Órgão (SIAFI) (optional)
     * @return ApiResponse&lt;List&lt;CodigoDescricaoDTO&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CodigoDescricaoDTO>> orgaosSiafiUsingGETWithHttpInfo(String chaveApiDados, Integer pagina, String codigo, String descricao) throws ApiException {
        com.squareup.okhttp.Call call = orgaosSiafiUsingGETValidateBeforeCall(chaveApiDados, pagina, codigo, descricao, null, null);
        Type localVarReturnType = new TypeToken<List<CodigoDescricaoDTO>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Consulta de órgãos cadastrados no Sistema Integrado de Administração Financeira do Governo Federal (SIAFI) (asynchronously)
     * Filtros mínimos:  Página (padrão &#x3D; 1); 
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAFI) (optional)
     * @param descricao Descrição do Órgão (SIAFI) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call orgaosSiafiUsingGETAsync(String chaveApiDados, Integer pagina, String codigo, String descricao, final ApiCallback<List<CodigoDescricaoDTO>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = orgaosSiafiUsingGETValidateBeforeCall(chaveApiDados, pagina, codigo, descricao, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<CodigoDescricaoDTO>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for orgaosSiapeUsingGET
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAPE) (optional)
     * @param descricao Descrição do Órgão (SIAPE) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call orgaosSiapeUsingGETCall(String chaveApiDados, Integer pagina, String codigo, String descricao, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api-de-dados/orgaos-siape";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (codigo != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("codigo", codigo));
        if (descricao != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("descricao", descricao));
        if (pagina != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pagina", pagina));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (chaveApiDados != null)
        localVarHeaderParams.put("chave-api-dados", apiClient.parameterToString(chaveApiDados));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call orgaosSiapeUsingGETValidateBeforeCall(String chaveApiDados, Integer pagina, String codigo, String descricao, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'chaveApiDados' is set
        if (chaveApiDados == null) {
            throw new ApiException("Missing the required parameter 'chaveApiDados' when calling orgaosSiapeUsingGET(Async)");
        }
        
        // verify the required parameter 'pagina' is set
        if (pagina == null) {
            throw new ApiException("Missing the required parameter 'pagina' when calling orgaosSiapeUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = orgaosSiapeUsingGETCall(chaveApiDados, pagina, codigo, descricao, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Consulta de órgãos cadastrados no Sistema Integrado de Administração de Pessoal (SIAPE)
     * Filtros mínimos:  Página (padrão &#x3D; 1);  Período de no máximo 1 mês; 
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAPE) (optional)
     * @param descricao Descrição do Órgão (SIAPE) (optional)
     * @return List&lt;CodigoDescricaoDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CodigoDescricaoDTO> orgaosSiapeUsingGET(String chaveApiDados, Integer pagina, String codigo, String descricao) throws ApiException {
        ApiResponse<List<CodigoDescricaoDTO>> resp = orgaosSiapeUsingGETWithHttpInfo(chaveApiDados, pagina, codigo, descricao);
        return resp.getData();
    }

    /**
     * Consulta de órgãos cadastrados no Sistema Integrado de Administração de Pessoal (SIAPE)
     * Filtros mínimos:  Página (padrão &#x3D; 1);  Período de no máximo 1 mês; 
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAPE) (optional)
     * @param descricao Descrição do Órgão (SIAPE) (optional)
     * @return ApiResponse&lt;List&lt;CodigoDescricaoDTO&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CodigoDescricaoDTO>> orgaosSiapeUsingGETWithHttpInfo(String chaveApiDados, Integer pagina, String codigo, String descricao) throws ApiException {
        com.squareup.okhttp.Call call = orgaosSiapeUsingGETValidateBeforeCall(chaveApiDados, pagina, codigo, descricao, null, null);
        Type localVarReturnType = new TypeToken<List<CodigoDescricaoDTO>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Consulta de órgãos cadastrados no Sistema Integrado de Administração de Pessoal (SIAPE) (asynchronously)
     * Filtros mínimos:  Página (padrão &#x3D; 1);  Período de no máximo 1 mês; 
     * @param chaveApiDados Chave para acessar à API. Para obter a chave acesse http://www.portaldatransparencia.gov.br/api-de-dados/cadastrar-email (required)
     * @param pagina Página consultada (required)
     * @param codigo Código do Órgão (SIAPE) (optional)
     * @param descricao Descrição do Órgão (SIAPE) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call orgaosSiapeUsingGETAsync(String chaveApiDados, Integer pagina, String codigo, String descricao, final ApiCallback<List<CodigoDescricaoDTO>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = orgaosSiapeUsingGETValidateBeforeCall(chaveApiDados, pagina, codigo, descricao, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<CodigoDescricaoDTO>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
